{
    box-sizing: border-box;
}

head {

    text-align: left;
    background-color:rgb(255, 255, 255);
    color: black
}
body {
    background: #eee;
    margin: 0;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;

}

header nav a {

    color: white;
    border: 1px solid white;
    padding: 3px 8px;
    text-decoration;yellow;
    transition: color 200ms ease-in;
}

header nav a:hover {
    color: yellow;
    border: 1px solid yellow;

}

header main {
    background-image: url('https://i.pinimg.com/originals/53/1a/2c/531a2c74720f159ee379ab5c9ed9946c.jpg');
    background-size: contain;
    padding: 8px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;

}

footer{
    background-color: black;
}
.hidden {
    display: none;
}

.centered {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
.hero-image {
    height: 250px;
    margin-top: -35px;
}

